In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print ("Libraries imported")

Libraries imported

In [3]:
# Load the data
file_path = 'Data_Modeling Python Project.xlsx'
df = pd.read_excel(file_path, engine='openpyxl')
print("Dataset loaded successfully!")
df.head()

Dataset loaded successfully!

,Customer_ID,Age,Gender,Annual_Income,Spending_Score,Transaction_Amount,Purchase_Frequency,Discount_Applied,Product_Category
0,1001,56,Female,63088,24,241.05,3,1,Furniture
1,1002,69,Male,59811,81,276.18,7,1,Electronics
2,1003,46,Male,75479,74,88.03,14,1,Beauty
3,1004,32,Female,105392,30,109.81,7,1,Furniture
4,1005,60,Male,107369,59,54.67,5,0,Beauty